/* External CSS page */

/* Adding custom fonts */
@font-face {
  font-family: Great Wishes;
  src: url(../fonts/great_wishes-webfont.woff);
}
@font-face {
  font-family: Montserrat Bold;
  src: url(../fonts/montserrat-bold-webfont.woff);
}
@font-face {
  font-family: Roboto Slab;
  src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  margin: 0px;

  background-color: #dad7cd;
}

header {
  background-color: #588157;
  text-align: center;
}

nav {
  padding: 20px 0px;
}

h1 {
  color: #344e41;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  font-family: "Roboto Slab";
  margin-bottom: 5px;
}

p {
  color: #344e41;
  font-size: 18px;
  font-family: "Roboto";
  padding: 0px 70px;
}

/* Styling for hr tag, rounded, green, solid line underneath every heading of a page */
hr {
  border: 5px solid #588157;
  /* Making the ends rounded */
  border-radius: 5px;

  width: 50%;

  /* Centering the line */
  margin: auto;
}

/* Class for styling the anchor tags in the navigation bar */
.nav-link {
  padding: 20px;
  color: white;
  font-family: "Montserrat Bold";
  font-size: 20px;
  /* Length of the transition for when it's hovered */
  transition-duration: 0.4s;
}

/* Descendant selector to style all list items that are in the nav-link class elements. */
.nav-link li {
  display: inline-block;
}

/* Styling for when an item in the navigation bar gets hovered */
.nav-link:hover {
  background-color: #6a9969;
}

/* ID for styling the restaurant name (MUGHALS & CO.) in the header */
#restaurant-name {
  display: inline;
  margin: 20px;
  font-family: "Montserrat Bold";
  font-size: 22px;
  color: #dad7cd;
}

/* ID for styling the text in the footer */
#footer-text {
  color: #3a5a40;
  font-size: 16px;
}

/* ID for the line (hr tag) that divides the footer from the main content */
#footer-hr {
  border: 2px solid #588157;
  /* Making the ends rounded */
  border-radius: 5px;

  width: 99%;
}
